BasedOnStyle: Google

# --- indentation ---
UseTab: Always
IndentWidth: 3
TabWidth: 3

# --- line length ---
ColumnLimit: 0

# --- braces ---
BreakBeforeBraces: Attach

# --- control statements ---
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
